body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(bg.avif);
    background-size: cover;
}
nav {
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}
.banner {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 0;
}
.about-section {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.about-section h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.about-section h2 {

    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-section p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.team-member h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.team-member p {
    color: #666;
    font-size: 0.9em;
}
footer {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    bottom: 0;
}